In [4]:
print("Hello John","Hello Sahil",sep = '\n')
print("Hello John","Hello Sahil",sep = '|')
print("Hello John","Hello Sahil",sep = '**')

Hello John
Hello Sahil
Hello John|Hello Sahil
Hello John**Hello Sahil

In [5]:
print("Hello John","Hello Sahil", end = '**')

Hello John Hello Sahil**

In [7]:
len("abc")

3

In [8]:
len(12345)

TypeError: object of type 'int' has no len()

In [9]:
min(-4,-100,33,0,3)

-100

In [10]:
max(-4,-100,33,0,3)

33

In [11]:
abs(65)

65

In [12]:
abs(-190)

190

In [13]:
round(3.14333333)

3

In [15]:
round(-15.82)

-16

In [18]:
sorted("hello")
sorted("Hello")

['H', 'e', 'l', 'l', 'o']

In [22]:
sorted("hello", reverse = False)

['e', 'h', 'l', 'l', 'o']

In [23]:
sorted("hello", reverse = True)

['o', 'l', 'l', 'h', 'e']

## String funn

In [26]:
string_var = "HeLLO SAHIL"
string_var

'HeLLO SAHIL'

In [25]:
string_var.lower()

'hello sahil'

In [27]:
string_var.upper()

'HELLO SAHIL'

In [28]:
string_var.capitalize()

'Hello sahil'

## List

In [29]:
empty_list = []

In [30]:
type(empty_list)

list

In [31]:
empty_list

[]

In [34]:
int_list = [1,2,3,4]
int_list

[1, 2, 3, 4]

In [50]:
string_list = ["heloo",'Python',"World"]
string_list

['heloo', 'Python', 'World']

In [36]:
mixed_list = [5,"hellp",True,2.55]
mixed_list

[5, 'hellp', True, 2.55]

In [38]:
int_list[0]

1

In [39]:
len(int_list)

4

In [40]:
string_list[0:3]

['heloo', 'Python', 'World']

In [41]:
string_list[2:3]

['World']

In [43]:
string_list.append("life")
string_list

['heloo', 'Python', 'World', 'life', 'life']

In [44]:
string_list.insert(1,"Helloo")
string_list

['heloo', 'Helloo', 'Python', 'World', 'life', 'life']

In [46]:
string_list.index("Helloo")

1

In [51]:
string_list.remove("heloo")
string_list

['Python', 'World']

In [52]:
last_string = string_list.pop()
last_string

'World'

In [61]:
string_list = ["a","b","c","d"]
string_list

['a', 'b', 'c', 'd']

In [62]:
string_list.sort()
string_list

['a', 'b', 'c', 'd']

In [63]:
string_list.reverse()
string_list

['d', 'c', 'b', 'a']

In [65]:
all_list = int_list + string_list
all_list

[1, 2, 3, 4, 'd', 'c', 'b', 'a']

In [67]:
int_list.clear()
int_list

[]

## Tuple

In [73]:
empty_tuple = ()
print(empty_tuple)

()

In [74]:
name_tuple = ('a','b','c','d','e','f')

In [75]:
name_tuple[0]

'a'

In [76]:
name_tuple[0:3]

('a', 'b', 'c')

In [77]:
char_tuple = tuple("python")
char_tuple

('p', 'y', 't', 'h', 'o', 'n')

In [78]:
"p" in char_tuple

True

In [79]:
"r" in char_tuple

False

In [80]:
"r"  not in char_tuple

True

## Dictionaries

In [83]:
empty_dict = {}
print(empty_dict)

{}

In [84]:
name_and_age = {'Sahil' : 26,
               'Soham' :27,
               'Vipul' : 25}
name_and_age

{'Sahil': 26, 'Soham': 27, 'Vipul': 25}

In [85]:
name_and_age["Sahil"]

26

In [86]:
name_and_age.keys()

dict_keys(['Sahil', 'Soham', 'Vipul'])

In [87]:
name_and_age.values()

dict_values([26, 27, 25])

In [88]:
name_and_age.items()

dict_items([('Sahil', 26), ('Soham', 27), ('Vipul', 25)])

In [92]:
name_and_age['Rohit'] = 26
name_and_age

{'Sahil': 26, 'Soham': 27, 'Vipul': 25, 'Rohit': 26}

In [93]:
name_and_age.pop('Rohit')
name_and_age

{'Sahil': 26, 'Soham': 27, 'Vipul': 25}

In [94]:
del name_and_age['Vipul']
name_and_age

{'Sahil': 26, 'Soham': 27}

In [95]:
conn = {"Sahil" : ["a","b","c"],
       "Soham" : ["d","e","f"],
        "Vipul" : ["x","y","z"]}
conn

{'Sahil': ['a', 'b', 'c'], 'Soham': ['d', 'e', 'f'], 'Vipul': ['x', 'y', 'z']}

In [97]:
conn["Soham"][0]

'd'

In [99]:
int_key_dict = {1 : "Sahil",
               2 : "Soham",
               3 : "Vipul"}
int_key_dict[2]

'Soham'