In [1]:
import pandas as pd

In [6]:
# create a dataframe
df = pd.DataFrame({'name':['Elise Mccann', 'Aiden Berger', 'Elle Kelley']})
df

           name
0  Elise Mccann
1  Aiden Berger
2   Elle Kelley

In [7]:
# extract first name and last name
df['first_name'] = df['name'].str.split(' ', expand = True)[0]
df['last_name'] = df['name'].str.split(' ', expand = True)[1]

df

           name first_name last_name
0  Elise Mccann      Elise    Mccann
1  Aiden Berger      Aiden    Berger
2   Elle Kelley       Elle    Kelley