In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('AirQualityUCI.csv')
data.head()

         Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)
0  10/03/2004  18.00.00       2            6      1360
1  10/03/2004  19.00.00       2         1292       112
2  10/03/2004  20.00.00       2            2      1402
3  10/03/2004  21.00.00       2            2      1376
4  10/03/2004  22.00.00       1            6      1272

In [4]:
data.dtypes

Date           object
Time           object
CO(GT)          int64
PT08.S1(CO)     int64
NMHC(GT)        int64
dtype: object

In [5]:
data['date_time'] = data['Date'] + ' ' + data['Time']
data['date_time'] = pd.to_datetime(data['date_time'],format='%d/%m/%Y %H.%M.%S')

In [6]:
new_df = pd.DataFrame({"date_time": data['date_time'],
              "year": data['date_time'].dt.year,
              "month": data['date_time'].dt.month,
              "dayofweek": data['date_time'].dt.dayofweek,
              "quarter": data['date_time'].dt.quarter,
              "hour": data['date_time'].dt.hour,
              "CO(GT)": data['CO(GT)'],
              "PT08.S1(CO)": data['PT08.S1(CO)'],
              "NMHC(GT)": data['NMHC(GT)']
             })
new_df.head()

,date_time,year,month,dayofweek,quarter,hour,CO(GT),PT08.S1(CO),NMHC(GT)
0,2004-03-10 18:00:00,2004,3,2,1,18,2,6,1360
1,2004-03-10 19:00:00,2004,3,2,1,19,2,1292,112
2,2004-03-10 20:00:00,2004,3,2,1,20,2,2,1402
3,2004-03-10 21:00:00,2004,3,2,1,21,2,2,1376
4,2004-03-10 22:00:00,2004,3,2,1,22,1,6,1272