# Impute missing value ussing KNNImputer

In [3]:
from google.colab import files
uploaded = files.upload()

Saving loan_train.csv to loan_train.csv

In [0]:
import io
import pandas as pd
data = pd.read_csv(io.BytesIO(uploaded['loan_train.csv']))

In [10]:
data.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [11]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [0]:
# use knn_imputer to impute the missing values
from sklearn.impute import KNNImputer

In [13]:
subset = data[['LoanAmount', 'Credit_History','ApplicantIncome']]
subset.head()

   LoanAmount  Credit_History  ApplicantIncome
0         NaN             1.0             5849
1       128.0             1.0             4583
2        66.0             1.0             3000
3       120.0             1.0             2583
4       141.0             1.0             6000

In [14]:
import numpy as np
impute = KNNImputer(n_neighbors=2)
np.around(impute.fit_transform(subset), decimals=-1)

array([[ 140.,    0., 5850.],
       [ 130.,    0., 4580.],
       [  70.,    0., 3000.],
       ...,
       [ 250.,    0., 8070.],
       [ 190.,    0., 7580.],
       [ 130.,    0., 4580.]])