# Pandas Pivot Table

In [5]:
# import pandas
import pandas as pd
import numpy as np

In [6]:
#Import dataset
loan = pd.read_csv('../Data/loan_train.csv', index_col = 'Loan_ID')

In [7]:
pivot = loan.pivot_table(values = ['LoanAmount'], index = ['Gender', 'Married', 'Self_Employed'], aggfunc = np.mean)
pivot

                              LoanAmount
Gender Married Self_Employed
Female No      No             110.596774
               Yes            125.800000
       Yes     No             135.480000
               Yes            282.250000
Male   No      No             128.137255
               Yes            173.625000
       Yes     No             151.709220
               Yes            169.355556