# Pandas Crosstab

In [1]:
# import pandas
import pandas as pd

In [5]:
#Import dataset
data = pd.read_csv('../Data/loan_train.csv', index_col = 'Loan_ID')

In [6]:
pd.crosstab(data["Credit_History"],data["Loan_Status"],margins=True, normalize = 'index')

Loan_Status            N         Y
Credit_History
0.0             0.921348  0.078652
1.0             0.204211  0.795789
All             0.317376  0.682624