### Styling pandas to identify minimum number

In [30]:
import pandas as pd

In [31]:
data = pd.read_excel("../Data/salesman_performance.xlsx")
data

    Emp Name  January  February  March  April  May  June
0  Abhimanyu       91        56     78     90   87    88
1      James       56        65     68     73   67    75
2       Emma       88        87     79     90   78    82
3       Russ       78        76     73     74   71    77
4       Rhea       66        65     69     70   65    61
5    Michael       80        45     48     78   83    90
6       Adam       34        44     45     55   44    43

In [32]:
data.style

In [33]:
def highlight_green(sales):
    color = 'green' if sales > 80 else 'black'
    return 'color: %s' % color

In [34]:
formatting = data.iloc[:,1:6].style.applymap(highlight_green)
formatting