# ***Reading all the tables of a webpage into pandas dataframe:***

In [1]:
import pandas as pd

### ***Let the url be: "https://en.wikipedia.org/wiki/States_and_union_territories_of_India"***

In [3]:
dflist=pd.read_html('https://en.wikipedia.org/wiki/States_and_union_territories_of_India')

Here dflist is a list of dataframes. Each dataframe is associated with one of the tables present on the page.

In [4]:
dflist[0].head()

,0,1
0,States and union territories of India,NaN
1,Category,Federated states
2,Location,Republic of India
3,Number,28 States8 Union territories
4,Populations,"States: Sikkim - 610,577 (lowest); Uttar Prade..."

In [5]:
dflist[3].head()

,0,1,2,3,4,5,6,7,8,9,10
0,State,ISO 3166-2:IN,Vehiclecode,Zone,Capital,Largest city,Statehood,Population[35],Area(km2),Officiallanguages[36],Additional officiallanguages[36]
1,Andhra Pradesh,IN-AP,AP,Southern,Hyderabad (de jure)Amaravati (de facto) Note 1...,Visakhapatnam,1 October 1953,49506799,160205,Telugu,—
2,Arunachal Pradesh,IN-AR,AR,North-Eastern,Itanagar,20 February 1987,1383727,83743,English,—,NaN
3,Assam,IN-AS,AS,North-Eastern,Dispur,Guwahati,26 January 1950,31205576,78550,Assamese,"Bengali, Bodo"
4,Bihar,IN-BR,BR,Eastern,Patna,26 January 1950,104099452,94163,Hindi,Urdu,NaN